<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h4 class="navbar-text text-primary">What's the weather like now?</h4>
      <%= form_tag index_path, :class => "navbar-form" do %>
        <%= text_field_tag :city, nil, placeholder: "City", class: "form-control" %>
        <%= select_tag :state, options_for_select(@states), prompt: "State", class: "form-control" %>
        <%= submit_tag "Check Weather", class: "btn btn-primary" %>
      <% end %>
  </div>
</nav>

<div class="jumbotron" style="background-image: url(<%=  asset_path @bg_img %>)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>

    <div class="row">
      <% if @location != nil && @location != "" && (@error == "" || @error == nil) %>
        <div class="col-md-6 col-md-offset-3">
          <div class="well">
            <h2>Forecast for <%= @location %></h2>
            <p><em>What's the weather like?</em></p>

              <div class="row text-center">
                <div class="col-md-6">
                  <p>Temperature is: <%= @temp_f %>° / <%= @temp_c %>° </p>
                  <p>Feels like: <%= @real_feel_f %>°</p>
                </div>
                <div class="col-md-6">
                  <p><%= @weather_words %> <%= image_tag @weather_icon %></p>
                  <p><%= link_to "Full Forecast", @forecast_link, target: "_blank" %></p>
                </div>
              </div>
            </div>
          </div>
      <% elsif @error != nil %>
        <div class="well">
          <p>Error: Please enter a valid request. <%= @error %> </p>
        </div> 
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Recent searches:</h4>
      <ul class="list-inline text-center">
        <% @locations.each do |loc| %>
          <li>
            <%= link_to index_path(city: loc.city, state: loc.state) do %>
              <%= loc.city %>, <%= loc.state %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
